


.App {
  width: 100vw;
  height: 100vh;
}

body {
  margin:0;
  padding: 0;
}

.sidebar-content{
  display: flex;
  flex-direction: column;
  margin: auto;
  list-style: none;
 
}

.nav-link:hover {
color: red;
}

.navListItem {
  padding: 8px;
}

.file-upload{
  cursor: pointer;

}