@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');


.App {
  width: 100vw;
  height: 100vh;
  font-family: 'DM Sans', sans-serif;
}

body {
  margin:0;
  padding: 0;

}

.sidebar-content{
  display: flex;
  flex-direction: column;
  margin: auto;
  list-style: none;
 
}

.nav-link:hover {
color: red;
}

.navListItem {
  padding: 8px;
}

.file-upload{
  cursor: pointer;

}

.recipeSubmitBtns{
  display:flex;
  justify-content: center;
  column-gap: 1cm;;
}

.submitForm{
  display:flex;
  flex-direction: column;
  row-gap:0.5cm;
}

.fileSelect{
  display:flex;
  flex-direction: column;
}